@media (min-width: @tablet-width) {
  .aside-nav__list {
    border-left: 1px solid @gray;
    border-bottom: 1px solid @gray;
    padding-bottom: 20px;
  }
}

.aside-nav__item {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .aside-nav__item {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .aside-nav__item {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;
  }
}
