.navigation__list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .navigation__list {
    font-size: 12px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .navigation__list {
    font-size: 16px;
  }
}

.navigation__item {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: @tablet-width) {
  .navigation__item {
    font-size: 12px;
  }
}

@media (min-width: @desktop-width) {
  .navigation__item {
    font-size: 16px;
  }
}

.navigation__item--active {
  padding-top: 5px;
  padding-left: 13px;
  margin-left: -13px;
  padding-right: 13px;
  margin-right: -13px;
  padding-bottom: 5px;
  background-color: @orange;
  color: @white;
}

.navigation__item--active a {
  color: @white;
}
