.product-list__item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.product-list__wrap {
  padding-bottom: 7px;
  border-bottom: 1px solid @gray;
  margin-left: 14px;
  flex-grow: 1;
}

// .product-list__image {
//   // width: 200px;
// }

// .product-list__image img {
//   display: block;
//   width: 100%;
// }

.product-list__name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
}

.product-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.product-list__form {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-list__cost-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-list__cost {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.product-list__cost-total {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.product-list__multiply {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.product-list__form input {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 0;
  margin-right: 0;
  width: 50px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  border: 1px solid @gray;
}

.product-list__button-decrease,
.product-list__button-increase {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 0;
  margin-right: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: @gray;
}

.product-list__button-cart {
  padding-top: 3px;
  padding-bottom: 2px;
  width: 130px;
  height: 30px;
  border-radius: 4px;
  background-color: @gray;
  font-size: 14px;
}
